<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Abeo International Pte Ltd</title>
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<!--Icons-->
<script src="js/lumino.glyphs.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/libs/angular-ui-router.js"></script>
<script src="js/libs/ocLazyLoad.js"></script>
<script src="js/libs/ui-bootstrap.js"></script>
<script src="js/libs/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="js/libs/angular-cookies.js"></script>
<script src="js/config/app.js"></script>
<script src="js/services/util_factory.js" ></script>
<script src="js/ctrl/detail_ctrl.js" ></script>

</head>
<body ng-app="myApp" ng-controller="detail_ctrl">
<div class="loaderss" data-loadingss id="loadingss"><i class="fa fa-refresh fa-spin fa-fw"></i> Loading...</div>

	<div ng-include="'header.html'" ></div>
	<div ng-include="'sidebar.html'"></div>
	
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">
        <svg class="glyph stroked home">
          <use xlink:href="#stroked-home"></use>
        </svg>
        </a></li>
      <li class="active">Tickets</li>
    </ol>
  </div>
  <!--/.row-->
  <section class="content">
    <!-- Main content -->
    <div class="panel-default panel">
      <div class="panel-heading with-border">
        <h3 class="panel-title" style="width:300px;">Ticket Details </h3>
        <div class="pull-right"  ng-hide="userdata[0].account_type=='Customer' || userdata[0].account_type=='developer'">
         
          <button type="button" class="btn btn-default" id="Edit_Ticket" data-toggle="modal" data-target="#Edit"><i class="fa fa-edit" style="color:green;"> </i> Edit</button>
        
          <div id="more-option" class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="d2"><i class="fa fa-cogs" style="color:teal;"> </i> More <span class="caret"></span> </button>
            <ul class="dropdown-menu pull-right">
              <li data-toggle="modal" data-target="#ChangeOwner"><a href=""  ng-click="GetOwnersList();"><i class="fa fa-users" style="color:green;"> </i> Change Owner</a></li>
              <li data-toggle="modal" data-target="#MergeTickets"><a href="#"><i class="fa fa-code-fork" style="color:teal;"> </i> Merge ticket</a></li>
              <li id="delete"><a href="#"><i class="fa fa-trash-o" style="color:red;"> </i> Delete Ticket</a></li>
              <li data-toggle="modal" data-target="#banemail"><a href="#"><i class="fa fa-ban" style="color:red;"></i> Ban Email</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right"  ng-show="userdata[0].account_type=='developmentmanager'">
    
        </div>
        <div class="pull-right"  ng-show="userdata[0].account_type=='developer'">
         
        </div>
      </div>
      <!-- /.box-header -->
      <div class="panel-body" style="opacity: 1;">
        <!-- failure message -->
      
        <div style="padding-top:20px;">
          <div class="col-lg-9">
            <table width="100%" class="table table-striped" border="0" cellspacing="5" cellpadding="5">
              <tr ng-repeat="data in thread">
                <td id="tdcss{{$index}}"><div ng-click="opwn($index);" style="cursor:pointer;">
                    <div class="col-lg-1" style="width:1%"><i class="fa fa-user"> </i></div>
                    <div class="col-lg-9" style="display:block"><strong>{{data.user_name}} &lt; {{data.email}} &gt;</strong><br/>
                      <div id="subc{{$index}}">{{data.bodyTextSub |htmlToPlaintext | cut:true:50:' ...'}} </div>
                    </div>
                    <div class="col-lg-2">18:22 (4h ago)</div>
                  </div>
                  <div id="mainc{{$index}}" style="display:none;padding-top:10px;" class="col-lg-12" ng-bind-html="data.bodyText | trust"></div></td>
              </tr>
            </table>
            <div class="btn-group" id="Rainc" style="display:none" ng-if="userdata[0].account_type!='Customer'">
              <button type="button" class="btn btn-default" onClick="$('#homeReply').css('display','block');"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button>
              <button type="button" class="btn btn-default"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply All</button>
              <button type="button" class="btn btn-default"><i class="fa fa-share" aria-hidden="true"></i> Forward</button>
            </div>
            <div ></div>
            <div id="homeReply"  style="display:none;margin-top:100px;">
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-2">
                    <label>To</label>
                  </div>
                  <div class="col-lg-10">
                    <input ng-model="details.email" disabled="disabled" id="email" class="form-control" style="width:55%" name="To" type="text" value="{{details.email}}">
                    <a href="#" data-toggle="modal" data-target="#addccc"> Add CC </a></div>
                </div>
                <div class="col-lg-12">&nbsp;</div>
                <div class="form-group">
                  <div class="col-lg-2">
                    <label>Response</label>
                  </div>
                  <div class="col-lg-10">
                    <select ng-model="reply_cannedResponce"  class="form-control" style="width:55%" id="select">
                      <option value="zzz">Select a Canned Response</option>
                      <option value="1">Ticket accepted Reply</option>
                      <option value="2">Issue Fixed Reply</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">&nbsp;</div>
                <div class="form-group">
                  <div class="col-lg-2">
                    <label>Content</label>
                  </div>
                  <div class="col-lg-10">
                    <textarea ckEditor ng-model="reply_body"   name="editor1" id="editor1" class="form-control" style="height:150px;"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">&nbsp;</div>
                <div class="pull-right">
                  <button type="button" ng-click="reply();" class="btn-primary btn">Reply </button>
                </div>
              </div>
            </div>
          </div>
          <div ng-include="'detailsSideBar.html'"></div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /. box -->
    <div class="container-fluid" style="background:#FFFFFF" ng-hide="true">
      <div class="col-lg-12" style="margin-top:20px;">
        <ul class="nav nav-pills" >
          <li class="active"><a data-toggle="tab" href="#home">Reply</a></li>
          <li><a data-toggle="tab" href="#menu1">Internal Note</a></li>
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <div class="row">
              <div class="form-group">
                <div class="col-lg-2">
                  <label>To</label>
                </div>
                <div class="col-lg-10">
                  <input ng-model="details.email" disabled="disabled" id="email" class="form-control" style="width:55%" name="To" type="text" value="{{details.email}}">
                  <a href="#" data-toggle="modal" data-target="#addccc"> Add CC </a></div>
              </div>
              <div class="col-lg-12">&nbsp;</div>
              <div class="form-group">
                <div class="col-lg-2">
                  <label>Response</label>
                </div>
                <div class="col-lg-10">
                  <select ng-model="reply_cannedResponce"  class="form-control" style="width:55%" id="select">
                    <option value="zzz">Select a Canned Response</option>
                    <option value="1">Ticket accepted Reply</option>
                    <option value="2">Issue Fixed Reply</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12">&nbsp;</div>
              <div class="form-group">
                <div class="col-lg-2">
                  <label>Content</label>
                </div>
                <div class="col-lg-10">
                  <textarea ckEditor ng-model="reply_body"   name="editor1" id="editor1" class="form-control" style="height:150px;"></textarea>
                </div>
              </div>
              <div class="col-lg-12">&nbsp;</div>
              <div class="pull-right">
                <button type="button" ng-click="reply();" class="btn-primary btn">Reply</button>
              </div>
            </div>
          </div>
          <div id="menu1" class="tab-pane fade">
            <div class="row">
              <div class="form-group">
                <div class="col-lg-2">
                  <label>Content</label>
                </div>
                <div class="col-lg-10">
                  <textarea class="form-control" ng-model="INreplyBody" style="height:150px;"></textarea>
                </div>
              </div>
              <div class="col-lg-12">&nbsp;</div>
              <div class="pull-right">
                <button type="button" ng-click="INreply();" class="btn-primary btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!--/.main-->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">  CKEDITOR.replace( 'editor1' );</script>
</body>
<!--Assign  Modal -->
<div class="modal fade in" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal-content">
        <div class="modal-body" id="custom-alert-body">
          <table width="100%" border="0" cellspacing="5" cellpadding="5" class="table">
            <tr style="background:#CCCCCC">
              <th>Email</th>
              <th>Department</th>
              <th>Action</th>
            </tr>
            <tr>
              <td><input type="text" class="form-control" placeholder="Enter Consultant Email" ng-model="searchtext.email" /></td>
              <td><input type="text" class="form-control" placeholder="Enter Department" ng-model="searchtext.name" /></td>
              <td><i class="fa fa-search"></i></td>
            </tr>
            <tr ng-repeat="a in agentList |filter:searchtext">
              <td>{{a.email}}</td>
              <td>{{a.name}}</td>
              <td><button type="button" class="btn-info btn" ng-click="AssignUser(a.id,a.email);">Assign</button></td>
            </tr>
          </table>
          <button type="button" class="btn-danger btn" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Development manager  Modal -->
<div class="modal fade in" id="devManagerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal-content">
        <div class="modal-body" id="custom-alert-body">
          <table width="100%" border="0" cellspacing="5" cellpadding="5" class="table">
            <tr style="background:#CCCCCC">
              <th>Email</th>
              <th>Department</th>
              <th>Action</th>
            </tr>
            <tr>
              <td><input type="text" class="form-control" placeholder="Enter Email" ng-model="searchtext.email" /></td>
              <td><input type="text" class="form-control" placeholder="Enter Department" ng-model="searchtext.name" /></td>
              <td><i class="fa fa-search"></i></td>
            </tr>
            <tr ng-repeat="a in DevManagerList |filter:searchtext">
              <td>{{a.email}}</td>
              <td>{{a.name}}</td>
              <td><button type="button" class="btn-info btn" ng-click="EscalateToDevManager(a.id,a.email);">Escalate</button></td>
            </tr>
          </table>
          <button type="button" class="btn-danger btn" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Escalate to sap Modal -->
<div class="modal fade in" id="SAPManagerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Escalate to SAP</h4>
      </div>
      <div class="modal-body">
        <label>Internal Note</label>
        <textarea class="form-control" ng-model="ETOSAPBody" id="textareaID" style="height:200px;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="INreplyETOSAP();">Submit</button>
      </div>
    </div>
  </div>
</div>
<!--DevelopersModal manager  Modal -->
<div class="modal fade in" id="DevelopersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal-content">
        <div class="modal-body" id="custom-alert-body">
          <table width="100%" border="0" cellspacing="5" cellpadding="5" class="table">
            <tr style="background:#CCCCCC">
              <th>Email</th>
              <th>Department</th>
              <th>Action</th>
            </tr>
            <tr>
              <td><input type="text" class="form-control" placeholder="Enter Email" ng-model="searchtext.email" /></td>
              <td><input type="text" class="form-control" placeholder="Enter Department" ng-model="searchtext.name" /></td>
              <td><i class="fa fa-search"></i></td>
            </tr>
            <tr ng-repeat="a in Developers |filter:searchtext">
              <td>{{a.email}}</td>
              <td>{{a.name}}</td>
              <td><button type="button" class="btn-info btn" ng-click="assignDeveloper(a.id,a.email);">Select</button></td>
            </tr>
          </table>
          <button type="button" class="btn-danger btn" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--customer  Modal -->
<div class="modal fade in" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
  <div class="modal-dialog" role="document" style="width:800px;">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal-content">
        <div class="modal-body" id="custom-alert-body">
          <table width="100%" border="0" cellspacing="5" cellpadding="5" class="table">
            <tr style="background:#CCCCCC">
              <th>Email</th>
              <th>Organization</th>
              <th>Action</th>
            </tr>
            <tr>
              <td><input type="text" class="form-control" placeholder="Enter consultant Email" ng-model="searchtext.email" /></td>
              <td><input type="text" class="form-control" placeholder="Enter Department" ng-model="searchtext.name" /></td>
              <td><i class="fa fa-search"></i></td>
            </tr>
            <tr ng-repeat="a in CustomersList |filter:searchtext">
              <td>{{a.email}}</td>
              <td>{{a.name}}</td>
              <td><button type="button" class="btn-info btn" ng-click="changeOwner(a.id,a.email);">Select</button></td>
            </tr>
          </table>
          <button type="button" class="btn-danger btn" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Custome Modal -->
<div id="info" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" ng-show="if(infoheader)">
        <h4 class="modal-title">{{infoheader}}</h4>
      </div>
      <div class="modal-body">
        <p class="text-{{type}}" style="text-align:center;font-size:16px;"><strong>{{infobody}}</strong></p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</html>
