<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<appSettings>
		<add key="LogPath" value="E:\Abeo-Projects\Abeo_Projects_WorkArea\ABEO SUPPORT\trunk\1. Source\Log"/>
	</appSettings>
	<connectionStrings>
		<add name="dbconnection" connectionString="Server=WIN-D6KRARO05H9\SQLSERVER2012;Database=ABEO_SUPPORT;uid=sa;pwd=Sa12345;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
