    <!-- Main content -->


<div ng-controller="Status_ctrl">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">admin / Status Master</li>
			</ol>
		</div><!--/.row-->
		
		
		<div class="row">
			<div class="col-md-12" style="background:#FFFFFF;">
				

				<div class="panel-heading" id="accordion"><i class="fa fa-map-signs" aria-hidden="true"></i> Status List</div>
				<div class="col-md-12">
				
				<table width="100%" border="0" cellspacing="5" class="table-hover table-responsive table" cellpadding="5">
				<thead class="thead-default">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Icon class</th>
    <th>Active/  Inactive</th>
    <th>Action</th>
	<th><button type="button" class="btn-info btn"ng-click="filter = !filter"><i class="fa fa-filter" aria-hidden="true"></i></button>
	<button type="button" class="btn-info btn" data-toggle="modal" data-target="#Addnew" ><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
	 </th>
  </tr>
  
  <tr ng-show="filter">
    <td></td>
    <td><input type="text"  ng-model="searchtext.name" class="form-control"/></td>
    <td></td>
    <td</td>
    <td><select class="form-control" ng-model="searchtext.flags"><option value="0">Active</option><option value="1">Inactive</option></select></td>
     <td></td>
    <td></td>
  </tr>
  </thead>
  <tr ng-repeat="d in AllStatus |filter:searchtext">
    <td>{{$index+1}}</td>
    <td>{{d.name}}</td>
    <td>{{d.icon_class}}</td>
    
    
    <td><span class="label label-success" ng-show="d.flags=='0'">Active</span> <span class="label label-danger" ng-show="d.flags=='1'">Inactive</span></td>
    <td colspan="2">
	<button ng-show="d.flags=='1'" title="Activate" ng-click="changeStatus('0',d.id);" class="btn-success btn"><i class="fa fa-check" aria-hidden="true"></i></button>
	<button ng-show="d.flags=='0'" title="DeActivate" class="btn-danger btn" ng-click="changeStatus('1',d.id);"><i class="fa fa-times" aria-hidden="true"></i></button>
	
	
				
				
	</td>
    </tr>
</table>


				</div>
				
			</div><!--/.col-->
			
			
		</div><!--/.row-->
		
		<!--company  Modal -->   
<div class="modal fade in" id="Addnew" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none; padding-right: 15px;background-color: rgba(0, 0, 0, 0.7);">
    <div class="modal-dialog" role="document" style="width:800px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="modal-content">
                
                <div class="modal-body" id="custom-alert-body">
				<strong>Status Name :</strong> <input type="text" class="form-control" ng-model="rootName" />
				<strong>Icon Class :</strong> <input type="text" class="form-control" ng-model="rootIC" />
				<strong>Select Status :</strong> <select class="form-control" ng-model="rootFlag">
				<option  value="0">Active</option>
				<option  value="1">Inactive</option>
				</select>
				<div align="right" style="margin-top:10px;"><button type="button" class="btn-success btn" ng-click="AddNew();">Save</button>

<button type="button" class="btn-danger btn" data-dismiss="modal" aria-label="Close">Close</button>
</div> 
                </div>
               
            </div>
        </div>
    </div>
</div>

	</div>
